body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
}

$primary: #ec1b23;
$light-primary: #fdd8da;
$yellow: #e8dd0c;
$black: #000;
$light-gray: #aaaaaa;
$dark-gray: #343434;
$border-color: #dee2e6;

$light-red: #ffbabd;

$gray-bg: #fafafb;
